.c-body{
    color: rgb(43, 0, 0)
}


.button{
    background-image: url(button.png);
    list-style-type: none; 
    background-size: 100% 100%;
    width: 300px;
    height: 80px;
    position: relative;
    left: calc(50% - 150px);
    cursor: pointer;
    top: 90px;
    text-align: center;
    line-height: 100px;
    transition-duration: 0.4s;
    font-family: "Lucida Console", "Courier New", monospace;
    color:rgb(43, 59, 76);
    font-size: 3rem;
    font-weight: 500;
    
}

.button:hover{
    width: 320px;
    left: calc(50% - 160px);
    height: 90px;
    top: 85px;
    text-shadow: 4px 4px 5px rgb(56, 61, 20);
    
}

.button--first{
    top: 150px;
}

.button--second{
    top: 250px;
}

.button--third{
    top: 350px;
}

#score_2{
    color: rgb(216, 158, 50);
    text-shadow: black 0 0 20px;
    text-decoration: solid;
    margin: 30px auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#back{
    background-image: url(Back.png);
    background-size: 100% 100%;
    width: 80px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}
#back:hover{
    width: 90px;
    height: 70px;
}

#home{
    background-image: url(home_button.png);
    background-size: 100% 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 130px;
    left: 335px;
    cursor: pointer;
    transition-duration: 0.4s;
}
#home:hover{
    width: 90px;
    height: 90px;
    top: 125px;
    left: 330px;
}

#retry{
    background-image: url(retry_button.png);
    background-size: 100% 100%;
    width: 73px;
    height: 73px;
    position: absolute;
    top: 137px;
    left: 435px;
    cursor: pointer;
    transition-duration: 0.4s;
}
#retry:hover{
    width: 80px;
    height: 80px;
    top: 134px;
    left: 432px;
}

#option{
    background-image: url(option.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
}
#option:hover{
    width: 60px;
    height: 60px;
}

#plant{
    background-image: url(carnivorous_plant.png);
    background-size: 100% 100%;
    width: 330px;
    height: 450px;
    position: absolute;
    top: -109px;
    left: 1300px;
    cursor: pointer;
}


@keyframes scrolling {
    0% {width:0px;}
    25% {width:0px;}
    75% {width:850px;}
    100% {width:850px;}
}

@keyframes scrollButtonHome {
    0% {left:0px; width:0px; height: 0px;}
    25% {left:0px; width:0px; height: 0px;}
    75% {left:335px; width:80px; height: 80px;}
    100% {left:335px; width:80px; height: 80px;}
}

@keyframes scrollButtonRetry {
    0% {left:0px; width:0px; height: 0px;}
    25% {left:0px; width:0px; height: 0px;}
    75% {left:435px; width:73px; height: 73px;}
    100% {left:435px; width:73px; height: 73px;}
}

@keyframes scrollTitle {
    0%{font-size: 0px;}
    25%{font-size: 0px;}
    75%{font-size: 50px;}
    100%{font-size: 50px;}
}

@keyframes animPlant {
    0%{left:-330px;}
    25%{left:-20px;}
    75%{left:830px;}
    100%{left: 1300px;}
}