.c-body{
    color: rgb(43, 0, 0)
}

.title{
    color: rgb(24, 5, 5);
    margin: 30px auto;
    text-align: center;
    text-shadow: black 0 0 20px;
}

.button{
    list-style: none;
    width: 250px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    position: relative; /*changed absolute to relative*/
    left: calc(50% - 125px);
    border: 1px solid red;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    text-shadow: black 2px 2px 2px;
    cursor: pointer;

    box-shadow: inset 0 0 20px forestgreen;
    outline: 2px solid;
    outline-color: blue;

    top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.button:hover{
    box-shadow: inset 0 0 10px red ;
    outline-color: black;
    outline-offset: 2.5px;
    text-shadow: green 1px 1px 2px;
}

.button--first{
    top: 150px;
}

.button--second{
    top: 250px;
}

.button--third{
    top: 350px;
}

#score_2{
    color: rgb(24, 5, 5);
    margin: 30px auto;
    text-align: center;
    text-shadow: black 0 0 20px;
    font-size: 50px;
    font-weight: bold;
}

#back{
    background-image: url(Back.png);
    background-size: 100% 100%;
    width: 80px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 10px;
    cursor: pointer;
}

#home{
    background-image: url(home_button.png);
    background-size: 100% 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 130px;
    left: 335px;
    cursor: pointer;
}

#retry{
    background-image: url(retry_button.png);
    background-size: 100% 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 130px;
    left: 435px;
    cursor: pointer;
}

#option{
    background-image: url(option.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
}

@keyframes scrolling {
    0% {width:0px;}
    100% {width:850px;}
}

@keyframes scrollButtonHome {
    0% {left:0px; width:0px; height: 0px;}
    100% {left:335px; width:80px; height: 80px;}
}

@keyframes scrollButtonRetry {
    0% {left:0px; width:0px; height: 0px;}
    100% {left:435px; width:80px; height: 80px;}
}

@keyframes scrollTitle {
    0%{font-size: 0px;}
    100%{font-size: 50px;}
}